alabaster==0.7.12
altgraph==0.17
astroid==2.5.2
auto-py-to-exe==2.7.5
autopep8==1.5.5
Babel==2.8.0
beepy==1.0.7
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
docutils==0.16
Eel==0.12.4
flake8==3.8.4
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
imagesize==1.2.0
instagram-scraper==1.9.1
isort==5.8.0
jedi==0.17.2
Jinja2==2.11.2
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.3
numpy==1.19.1
packaging==20.4
parso==0.7.1
pefile==2019.4.18
Pillow==8.1.2
playsound==1.2.2
pluggy==0.13.1
proglog==0.1.9
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==6.0.0
pyflakes==2.2.0
Pygments==2.6.1
pygubu==0.10.9
PyInstaller==3.6
pylint==2.7.4
Pymem==1.0
pynput==1.7.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5Designer==5.14.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
rope==0.18.0
simple-http-server==0.1.7
simpleaudio==1.0.4
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
tqdm==4.59.0
ujson==4.0.2
urllib3==1.25.10
whichcraft==0.6.1
wrapt==1.12.1
yapf==0.31.0
youtube-dl==2020.7.28
zope.event==4.4
zope.interface==5.1.0
